$site_blue: #21333e;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#app{

    .header-container{
        background-color: $site_blue;
        color: #e3e7df;
        height: 30px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        
        .info-contacts-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75%;

            .left-contacts{
                display: flex;
                align-items: center;
            }

            .right-contacts{
                display: flex;

                div{
                    display: flex;
                    align-items: center;
                    margin: 0 1rem;
                }

                .social-pages{
                    margin-right: 0;
                    i{
                        margin: 0 1rem;
                    }
                }
            }

            i{
                margin: 0 0.5rem;
            }
        }
    }

    .main-container{
        color: #e3e7df;

        .btn{
            border: 0;
            font-weight: 900;
            background-color: transparent;
            font-size: medium;
            color: #e3e7df; 
            padding: 0.5rem 1rem;  
            border-radius: 3px;
            background-color: #038483;
            line-height: 100%;

            &:hover{
                cursor: pointer;
            }
        }

        .hero-container{
            height: calc(100vh - 30px);
            display: flex;
            justify-content: center;
            position: relative;

            .hero-image{
                position: absolute;
                filter: brightness(0.4);
                height: 100%;
                width: 100%;
                img{
                    object-fit: cover;
                    object-position: bottom;
                    max-height: 100%;
                    min-width: 100%
                }
            }

            .nav-container{
                display: flex;
                justify-content: space-between;
                width: 75%;
                height: 50px;
                z-index: 1;
                align-items: center;
                margin: 1rem 0;

                .nav-left{
                    .logo-container{
                        display: flex;
                        font-weight: 900;
                        align-items: center;

                        .left-logo{
                            color: #038483;
                            position: relative;
                            display: flex;
                            padding-left: 1rem;
                            font-weight: 900;
                            
                            .background-logo{
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                background-color: #038483;
                                filter: opacity(0.3);
                                left: 0;
                                border-top-left-radius: 20px;
                                border-bottom-left-radius: 20px;
                            }
                        }
                    }
                }

                .nav-right{
                    display: flex;
                    align-items: center;
                    height: 100%;

                    a{
                        text-decoration: none;
                        color: #e3e7df;
                        padding: 0 1rem;
                        font-weight: 900;
                    }
                }
            }
            .hero-content{
                position: absolute;
                top: 35%;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: large;
                max-width: 50%;
                height: 30%;

                .title{
                    display: flex;
                    position: relative;
                    color: #ffffff;
                    font-weight: 900;
                    font-size: x-large;
                    
                    .space{
                        margin: 0 1rem;
                    }

                    .customer-container{
                        position: relative;
                        h1{
                            padding: 0 0.5rem;
                        }

                        .customer-bg{
                            position: absolute;
                            background-color: #038483;
                            height: 100%;
                            width: 100%;
                            filter: opacity(0.1);
                            text-align: center;
                        }
                    }
                }

                .text{
                    text-align: center;
                    color: #a2adae;
                    margin-top: 2rem;
                }

                .hero-buttons-container{
                    height: 50px;
                    margin-top: 2rem;

                    .btn{
                        margin: 0 1rem;
                    }

                    .border{
                        border: 2px solid #038483;
                        background-color: transparent;

                        &:hover{
                            background-color: #038483;
                        }
                    }
                }
            }
        }

        .cards-1-container{
            background-color: #e3e7df;
            display: flex;
            justify-content: center;
            color: black;
            padding: 3rem 0;
            
            .cards-centered{
                width: 75%;
                display: flex;

                .card{
                    background-color: #ffffff;
                    width: calc(100% / 3);
                    padding: 2rem;
                    margin: 0 0.5rem;
                    border-radius: 5px;

                    h2{
                        margin: 1.5rem 0;
                    }

                    .card-icon{
                        position: relative;
                        width: 70px;
                        height: 70px;
                        text-align: center;
                        line-height: 70px;

                        .icon-bg{
                            background-color: #72a2a3;
                            filter: opacity(0.5);
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            border-radius: 50%;
                        }

                        i{
                            color: #39c4c6;
                            padding: 1rem;
                        }
                    }    
                }
            }
        }

        .about-container{
            display: flex;
            position: relative;

            .about-left{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: right;
                padding: 5rem 0;

                .about-content{
                    width: 75%;
                    .green{
                        color: #038483;
                        margin-bottom: 1rem;
                    }

                    .about-title{
                        display: flex;
                        margin-bottom: 1rem;

                        .title-left{
                            position: relative;
                            color: #038483;

                            .title-bg{
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                background-color: #038483;
                                filter: opacity(0.3);
                                border-radius: 3px;
                            }
                            
                            h1{
                                padding: 0 0.5rem;
                            }
                        }

                        .title-right{
                            color: #1e2223;
                        }
                    }
                    
                    .about-text{
                        color: #778a94;
                        margin-bottom: 3rem;
                    }

                    .about-cards{
                        color: #778a94;

                        .row{
                            display: flex;
                            margin-bottom: 2rem;

                            .card{
                                width: 50%;
                                padding-right: 1rem 0;

                                .card-title{
                                    display: flex;
                                    align-items: center;

                                    h2{
                                        font-weight: 900;
                                        margin-left: 0.5rem;
                                        color: #1e2223;
                                    }
                                }

                                i{
                                    color: #038483;
                                }

                                p{
                                    margin: 2rem 0
                                };
                            }
                        }

                    }
                }
            }

            .about-right{
                width: 50%;
                background-image: url('./assets/img/about-3.jpg');
                background-position: center;
                padding: 5rem 0;
                background-size: cover;
            }
        }

        .business-container{
            display: flex;
            justify-content: center;
            background-color: #121117;
            padding: 5rem 0;

            .business-centered{
                width: 75%;

                .green{
                    color: #038483;
                    margin-bottom: 1rem;
                }

                .business-title{
                    display: flex;
                    margin-bottom: 2rem;

                    h1{
                        color: #ffffff;
                    }

                    .title-right{
                        position: relative;
                        width: 135px;
                        display: flex;
                        justify-content: center;

                        h1{
                            position: absolute;
                            top: 0;
                            text-align: center;                   
                            z-index: 2;
                        }

                        .title-bg{
                            height: 100%;
                            width: 100%;
                            background-color: #038483;
                            filter: opacity(0.3);
                        }
                    }
                }

                .business-text{
                    display: flex;
                    margin-bottom: 2rem;
                    justify-content: space-between;
                    
                    p{
                        width: 70%;
                    }

                    .btn{
                        background-color: transparent;
                        border: 2px solid #038483;
                        border-radius: 3px;
                    }
                }

                .business-cards{

                    .margin-bottom{
                        margin-bottom: 2rem;
                    }

                    .row{
                        display: flex;

                        .middle{
                            margin: 0 2rem;
                        }

                        .card{
                            width: calc(100% / 3);
                            background-color: #1e2223;
                            padding: 3rem;
                            border-radius: 7px;

                            i{
                                color: #038483;
                                margin-bottom: 1.5rem;
                            }

                            h2{
                                margin-bottom: 1.5rem;
                            }

                            p{
                                margin-bottom: 1.5rem;
                            }

                            .btn{
                                background-color: transparent;
                                border: 2px solid #038483;

                                &:hover{
                                    background-color: #038483;
                                }
                            }
                        }
                    }
                }
            }
        }

        .pricing-container{
            display: flex;
            justify-content: center;
            background-color: #e3e7df;
            padding: 8rem 0;

            .pricing-centered{
                width: 75%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                
                .pricing-content{
                    text-align: center;
                    width: 50%;

                    .green{
                        color: #038483;
                        margin-bottom: 0.5rem;
                    }

                    .pricing-title{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 1rem;

                        .title-left{
                            position: relative;
                            padding: 0 0.5rem;
                            .title-bg{
                                height: 100%;
                                width: 100%;
                                background-color: #038483;
                                filter: opacity(0.3);
                            }

                            .hidden{
                                visibility: hidden;
                                position: relative;
                                top: 0;
                                padding: 0 0.5rem;
                            }

                            .absolute{
                                position: absolute;
                                top: 0;
                                color: #038483;
                                right: 1rem;
                            }
                        }

                        .title-right{
                            color: #1e2223;
                        }
                    }

                    .pricing-text{
                        color: #778a94;
                        margin-bottom: 2rem;
                    }
                }

                .pricing-cards{
                    width: 100%;
                    display: flex;

                    .card{
                        width: calc(100% / 3);
                        padding: 5rem 2rem;
                        background-color: #ffffff;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 10px;
                        transition: all 0.3s;


                        i{
                            color: #038483;
                        }

                        h3{
                            color: #1e2223;
                            margin: 1rem 0;
                        }

                        .price{
                            color: #038483;
                            display: flex;
                            align-items: baseline;
                            margin-bottom: 2rem;

                            h2{
                                margin: 0 0.25rem;
                                font-size: xx-large;
                            }
                        }

                        .features{
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            .feature{
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                margin-bottom: 1rem;

                                i{
                                    width: 5%;
                                    text-align: center;
                                }

                                p{
                                    color: #1e2223;
                                }
                            }
                        } 
                        
                        &:hover{
                            transform: scale(1,1.05);
                        }
                    }

                    .popular{
                        position: relative;
                        margin: 0 1rem;

                        .most-popular{
                            position: absolute;
                            background-color: #038483;
                            top: 5%;
                            left: 0;
                            padding-right: 1.5rem;
                            padding-left: 0.5rem;
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
}