$site_black: #21333e;
$site_green: #41c457;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

#nav{
    position: sticky;
    top: 0;
}

h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
}

.title-bg{
    border-radius: 3px;
}

body{
    max-width: 100vw;
}


.btn{
    border: 0;
    font-weight: 900;
    font-size: medium;
    color: white; 
    padding: 0.75rem 1rem;  
    border: 2px solid $site_green;
    border-radius: 3px;
    background-color: $site_green;
    line-height: 100%;
    transition: all 0.3s;

    &:hover{
        cursor: pointer;
        filter: brightness(1.2);
    }
}

.nav_colored{
    background-color: #208531 !important;
}

@keyframes display {
    100%{
        padding: 1.5rem;
        top: calc(50% - 1.5rem);
        left: calc(50% - 1.5rem);
        filter: opacity(0);
    }
}